<nav class="navbar navbar-default navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'post_list' %}">ChocoBlog</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">      			
		  	<li>
		  		<a href="{% url 'blog:category_list' %}">Categories</a>
		  	</li>
		  	<li>
		  		<a href="{% url 'blog:post_list' %}">Posts</a>
		  	</li>		  	
				<li>
					<a href="{% url 'blog:post_top' %}">
						Top posts	
					</a>
				</li>
		  	<li>
					<a href="{% url 'blog:post_add' %}">Add New Post</a>
				</li>	
    	</ul>

    <ul class="nav navbar-nav navbar-right">      
      {% if user.is_authenticated %}
      	<li>
      		<a href="{% url 'account:profile' %}">Profile</a>
      	</li>
      	<li>
      		<a href="{% url 'account:logout' %}">Log Out</a>
      	</li>
      {% else %}
      	<li>
      		<a href="{% url 'account:login' %}">Log In</a>
      	</li>
      	<li>
      		<a href="{% url 'account:register' %}">Register</a>
      	</li>
      {% endif %}
    </ul>
  </div>
</nav>